<div class="col-md-9 right-column table-striped" data-ng-controller="ManageLayersCtrl">
    <h1 data-translate="MANAGE_LAYERS.HEADER"></h1>
    <table st-table="displayedCollection" st-safe-src="jsonresult.data" class="table table-striped">

        <thead>
            <tr>
                <th>
                    <input st-search="title" placeholder="search for title" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="3">
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </th>
            </tr>
            <tr>
                <th st-sort="name">{{'MANAGE_LAYERS.LIST_HEADER_NAME' | translate}}</th>
                <th st-sort="title">{{'MANAGE_LAYERS.LIST_HEADER_TITLE' |
                    translate}}</th>
                <th st-sort="type">{{'MANAGE_LAYERS.LIST_HEADER_TYPE' | translate}}</th>
                <th>{{'MANAGE_LAYERS.LIST_HEADER_ACTIONS' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td><a ng-href ng-click="layerDetails(row.name);">{{row.name}}</a></td>
                <td>{{row.title}}</td>
                <td>{{row.geometry}}</td>
                <td>
                    <select ng-model="ddlActions"
                            ng-options="action as action for action in actions"
                            ng-change="GetValue(ddlActions,row.name);">
                    </select>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="!jsonresult.data">
            <tr>
                <td colspan="4">Loading ...</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-template="resources/pagination.html"></div>
                </td>
            </tr>
            </tfoot>
<!--
        <tfoot>
        <tr>
            <td colspan="3" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="dispPages"></div>
            </td>
        </tr>
        </tfoot>
-->
    </table>
<!--
    <st-pagination collection="commits" mid-range="2" edge-range="2"></st-pagination>
-->
</div>