<div class="modal-header">
    <h2>{{ "MAP.HEADER" | translate}} <a
            data-tooltip='{{ "MAP.HEADER_TOOLTIP" | translate }}'><span
            class="glyphicon glyphicon-question-sign black"></span></a></h2>
</div>
<form name="form" data-rc-submit="setBBOX()" novalidate>
    <div class="modal-body">

        <div id="bbox-map" style="width: 530px; height: 470px"></div>

        <input type="hidden" class="form-control" id="bboxNorth" data-ng-model="bboxNorth"></input>
        <input type="hidden" class="form-control" id="bboxSouth" data-ng-model="bboxSouth"></input>
        <input type="hidden" class="form-control" id="bboxEast" data-ng-model="bboxEast"></input>
        <input type="hidden" class="form-control" id="bboxWest" data-ng-model="bboxWest"></input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-translate="MAP.SELECT_EXTENT"></button>
        <button class="btn btn-default" data-translate="MAP.SELECT_CANCEL" data-ng-click="cancel()"></button>
    </div>
</form>


<script>
    // TODO: Move to controller
    var map = new OpenLayers.Map({
        div: "bbox-map",
        projection: 'EPSG:3857',
        layers: [
            new OpenLayers.Layer.Google(
                "Google Physical",
                {type: google.maps.MapTypeId.TERRAIN}
            )
        ],
        center: new OpenLayers.LonLat(0, 0).transform('EPSG:4326', 'EPSG:3857'),
        zoom: 1
    });
</script>