<div class="col-md-9 right-column layer-list"
	data-ng-controller="UploadDataCtrl">


	<table class="table layer-list">
	<thead>
	    <tr>
	       <th>Layer</th>
	       <th>File Name</th>
	       <th>Size</th>
	       <th>Status</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr ng-repeat="download in downloads">
			<td>{{download.workspace}}/{{download.dataset}}</td>
			<td>{{download.fileName}}</td>
			<td>{{download.fileSize}}</td>
			<td><b style="color: green;">Uploading...</b></td>
		</tr>
		</tbody>
	</table>



	<form name="downloadFrm" ng-submit="uploadFiles">
	
	<fieldset>
      <legend>New file</legend>
        Workspace name:
      <input type="text" name="workspace" ng-model="workspace" size="127" required>
     <i ng-show="downloadFrm.workspace.$error.required">*required</i>
      <br>Layer name:
      <input type="text" name="dataset" ng-model="dataset" size="127" required>
      <i ng-show="downloadFrm.dataset.$error.required">*required</i>
      <br>File:
		 <input type="file" ngf-select ng-model="zipFile" name="zipFile" required ngf-model-invalid="errorFile">
      <i ng-show="downloadFrm.zipFile.$error.required">*required</i><br>
      <br>
      <button ng-disabled="!downloadFrm.$valid" 
              ng-click="uploadFiles(zipFile)" class="btn btn-primary" >Send to server</button>
      
      <span ng-show="zipFile.result">Sent to server queue</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		</fieldset>
	</form>
	
	

</div>