<div class="col-md-9 right-column layer-list"
	data-ng-controller="UploadDataCtrl">

<h2 data-translate="UPLOAD_DATA.HEADER" class="ng-scope">My Repositories</h2><br/>
	<table class="table table-striped" ng-show="downloads.length">
	<thead>
	    <tr>
	       <th data-translate="UPLOAD_DATA.WORKSPACE"></th>
	       <th data-translate="UPLOAD_DATA.LAYER"></th>
	       <th data-translate="UPLOAD_DATA.FILE_NAME"></th>
	       <th data-translate="UPLOAD_DATA.SIZE"></th>
	       <th data-translate="UPLOAD_DATA.STATUS"></th>
	       <th data-translate="UPLOAD_DATA.CLEAN"></th>
	    </tr>
	    </thead>
	    <tbody>
		<tr ng-repeat="download in downloads">
			<td><input type="text" ng-model="download.workspace" size="20" ng-Show="download.valid" ng-dblclick="expandWorkspace(download.workspace)" ng-readonly="download.locked"></td>
			<td><input type="text" ng-model="download.dataset" size="20" ng-Show="download.valid" required ng-readonly="download.locked"></td>
			<td>{{download.fileName}}</td>
			<td>{{download.fileSize}}</td>
			<td><b style="color: {{download.statusColor}}; ">{{download.status}}</b></td>
			<td style ="padding-right: 3%;"><button class="close" ng-click="remove(downloads, $index)" ng-Show="!download.locked">×</button>
			<button class="close" ng-click="clean(downloads, $index)" ng-Show="download.ticket<0">-</button></td>
		</tr>
		</tbody>
	</table>



	<form name="downloadFrm" ng-submit="uploadFiles">
	
	
	
	<fieldset>
      <button ngf-select="uploadFiles($files, $invalidFiles)" multiple class="btn btn-primary" data-translate="UPLOAD_DATA.ADD_FILES" ></button>
      <button ng-click="sendFiles()" class="btn btn-primary" data-translate="UPLOAD_DATA.LOAD_TO_SERVER" ng-show="downloads.length"></button>
 	</fieldset>
 	
 	
	</form>
	
	

</div>