@CHARSET "UTF-8";

/*
	Structure:
	- Header
*/
body {
	font-family: "Arial regular", arial, sans-serif;
	font-size: 14px;
	color: #000000;
}

/* Header */
.navbar {
	min-height: 87px;
	margin-bottom: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px
		rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px
		rgba(0, 0, 0, 0.075);
	background-image: none;
}

.header .navbar-btn {
	margin-top: 25px;
	margin-bottom: 22px;
}

.navbar-brand {
	float: left;
	padding: 7px 15px;
	font-size: 18px;
	line-height: 20px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: "Arial regular", arial, sans-serif;
}

.right-column h1 {
	font-size: 21px;
}

.right-column h2 {
	font-size: 18px;
	color: #3172AE;
}

/* Sidebar */
.nav-list {
	font-size: 16px;
}

.nav-list a {
	color: #000000;
}

.nav-list a.active {
	color: #3172AE;
}

.nav>li>a {
	padding: 10px 15px 10px 0;
	border-bottom: black 1px solid;
}

.nav>li:last-child>a {
	border-bottom: none;
}

/* Right column */
.right-column {
	padding-top: 14px;
	padding-left: 22px;
}

.right-column .col-md-6,.right-column .col-md-5,.right-column .col-md-4,.right-column .col-md-3,.right-column .col-md-2,.right-column .col-md-1,.right-column .col-md-7,.right-column .col-md-8,.right-column .col-md-9,.right-column .col-md-10
	{
	padding-left: 0;
}

/* Form controls*/
.form-control {
	display: block;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.428571429;
	color: #000000;
	vertical-align: middle;
	border: 1px solid #808080;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select.form-control {
	background-color: #F8F8F8;
}

label {
	font-weight: normal;
}

input.form-control {
	border-radius: 0;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #000000;
	border-radius: 0;
}

.btn-primary {
	color: #ffffff;
	border-color: #0755AC;
	border-radius: 3px;
	font-size: 18px;
	font-weight: bold;
	background: #5191d6; /* Old browsers */
	background: -moz-linear-gradient(top, #5191d6 0%, #3172ae 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5191d6),
		color-stop(100%, #3172ae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5191d6 0%, #3172ae 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5191d6 0%, #3172ae 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5191d6 0%, #3172ae 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #5191d6 0%, #3172ae 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5191d6',
		endColorstr='#3172ae', GradientType=0); /* IE6-9 */
}

.btn-default {
	border-radius: 3px;
	font-size: 18px;
	font-weight: bold;
}

.btn-lg {
	border-radius: 3px;
}

.custom-panel {
	border: 0;
	border-top: 1px solid #eeeeee;
	min-height: 77px;
}

.custom-panel.last {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 15px;
}

.custom-panel-heading.collapsed .glyphicon-chevron-up:before {
	content: "\e114";
}

.black {
	color: black;
}

.no-margin {
	margin: 0;
}

.no-left-padding {
	padding-left: 0;
}

/* Login page */
.login-container {
	padding-right: 60px;
	padding-left: 60px;
	border-radius: 6px;
	padding-top: 48px;
	padding-bottom: 48px;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
	background-color: #eeeeee;
}

.form-signin {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Tooltips */
.tooltip {
	font-size: 14px;
}

.tooltip-inner {
	background-color: #0755AC;
	border-radius: 3px;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #0755AC;
}

.tooltip.top-left .tooltip-arrow {
	border-top-color: #0755AC;
}

.tooltip.top-right .tooltip-arrow {
	border-top-color: #0755AC;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #0755AC;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #0755AC;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #0755AC;
}

.tooltip.bottom-left .tooltip-arrow {
	border-bottom-color: #0755AC;
}

.tooltip.bottom-right .tooltip-arrow {
	border-bottom-color: #000000;
}

.step2 label {
	font-size: 18px;
	color: #3172AE;
}

.step2 .fields-container {
	border: 0;
	min-height: 77px;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 40px;
	margin-bottom: 20px;		
}

.ingest-name {
	text-decoration: underline;
}
.ingest-list .btn-default {
	font-size: 14px;
}

.sign {
 font-size:18px;
}

.passed-sign {
	color: #79ac2b;
}

.warning-sign {
	color: #ecaf17;
}

.failed-sign {
	color: #df2153;
}

.ingest-details li {
	list-style: none;
	padding: 0.5em;
	margin: 0.5em;
}


.odd {
	background-color: #ebf6ff;
}

#failedRecordsPanelBody .custom-panel {
	min-height: 0;
	border: 0;
}

#failedRecordsPanelBody .custom-panel-heading {
	padding: 0.5em;
	margin: 0;
}
#failedRecordsPanelBody ul ul {
	padding-left: 0;
}

.failed-main-check {
	float: left;
	margin: 0.5em;
	position: relative;
	left: -2em;
}
