@CHARSET "UTF-8";

/*
	Structure:
	- Header
*/

/* Header */
.header {
}

.navbar {
	min-height: 87px;
	margin-bottom: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px
		rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px
		rgba(0, 0, 0, 0.075);
	
}
.header .navbar-btn {
	margin-top: 25px;
	margin-bottom: 22px;
}

.navbar-brand {
  float: left;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 20px;
}


/* Sidebar */
.nav-list {
    font-family: arial,sans-serif;
    font-size: 16px;
}

.nav-list a {
	color: #000000;
}

.nav-list a.active {
	color: #3172AE;
}  

.nav > li > a {
	padding: 10px 15px 10px 0;
	border-bottom: black 1px solid;	
}
.nav > li:last-child > a {
	border-bottom: none;	
}